nodeRed_Flow2/flows.json
[
    {
        "id": "7c5251bacc64a6f2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6a9bd9fe9be822d8",
        "type": "inject",
        "z": "7c5251bacc64a6f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "f2695a1aa4685a27"
            ]
        ]
    },
    {
        "id": "65d5fcfd90e3ed2e",
        "type": "debug",
        "z": "7c5251bacc64a6f2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "f2695a1aa4685a27",
        "type": "function",
        "z": "7c5251bacc64a6f2",
        "name": "function 1",
        "func": "// Crea un objeto Date a partir del msg.payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "65d5fcfd90e3ed2e"
            ]
        ]
    }
]